.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: black;
    background-color: white;

}
/*아이콘*/
.arrow-icon {
    position: absolute;
    right: 10px;
    top: 12px;
    width: 12px;
    height: 8px;
}

.location-icon {
    width: 26px;
    height: 17px;
    padding-left: 3px;
    padding-right: 7px;
}

.calender-icon {
    width: 23px;
    height: 17px;
    padding-right: 7px;
}

.time-icon {
    width: 25px;
    height: 17px;
    padding-left: 3px;
    padding-right: 5px;
}

/*스크롤바*/
.scrollBar {
    width: 200px;
    height: 200px;
    overflow-y: scroll;
}

.dropdown-menu::-webkit-scrollbar {
    width: 5px; /* 스크롤바의 너비 */
}

.dropdown-menu::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: lightgray; /* 스크롤바의 색상 */

    border-radius: 10px;
}

.dropdown-menu::-webkit-scrollbar-track {
    background: white;
}

/*헤더*/
.nearby-search-design {
    display: flex;
    width: 100%;
    height: 400px;
}

.left-rec {
    position: absolute;
    background-color: #004770;
    border-bottom-right-radius: 8vw;
    color: white;
    z-index: 10;
    width: 70vw;
    height: 270px;
    top: 110px;
    text-align: left;
}

#nearby-description {
    font-family: "SUIT-Light", "Murecho-Light", "Noto-Light", sans-serif;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 60px 0 0 8vw;
}

#for-you {
    font-family: "SUIT-Light", "Murecho-Light", "Noto-Light", sans-serif;
    font-size: 40px;
    line-height: 130%;
    color: white;
    margin: 0;
    padding: 20px 0 0 8vw;
}

#is-here {
    font-family: "SUIT-ExtraBold", "Murecho-Bold", "Noto-Bold", sans-serif;
    margin: 0;
}


.right-rec {
    position: absolute;
    background-color: #AEDCF6;
    border-bottom-left-radius: 8vw;
    z-index: 9;
    width: 81vw;
    height: 270px;
    right: 0;
    top: 200px;
}

#nearby-icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 2vw;
    top: 195px;
    width: 400px;
    height: 300px;
    text-align: left;
}

.greenBag {
    position: relative;
    z-index: 16;
    width: 160px;
    left: 80px;
}

.hand {
    position: relative;
    z-index: 15;
    top: 10px;
    width: 400px;
}

#result-inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*헤더 태블릿*/
@media (max-width: 800px) {
    .left-rec {
        top: 80px;
        height: 180px;
        border-bottom-right-radius: 10vw;
    }

    #nearby-description {
        font-size: 15px;
        padding: 38px 0 0 6vw;
    }

    .nearby-search-design {
        height: 285px;
    }

    #for-you {
        font-size: 28px;
        padding: 13px 0 0 6vw;
    }

    .right-rec {
        top: 150px;
        height: 180px;
        border-bottom-left-radius: 10vw;
    }

    #nearby-icon {
        top: 135px;
        width: 280px;
        height: 230px;
    }

    .greenBag {
        left: 50px;
        width: 120px;
    }

    .hand {
        top: 6px;
        width: 280px;
    }
}

/*헤더 모바일*/
@media (max-width: 480px) {
    .left-rec {
        top: 55px;
        height: 120px;
        border-bottom-right-radius: 12vw;
    }

    #nearby-description {
        font-size: 10px;
        padding: 28px 0 0 8vw;
    }

    .nearby-search-design {
        height: 200px;
    }

    #for-you {
        font-size: 17px;
        padding: 6px 0 0 8vw;
    }

    .right-rec {
        top: 100px;
        height: 120px;
        border-bottom-left-radius: 12vw;
    }

    #nearby-icon {
        top: 95px;
        width: 190px;
        height: 150px;
        right: 1vw;
    }

    .greenBag {
        left: 40px;
        width: 70px;
    }

    .hand {
        top: 6px;
        width: 190px;
    }
}


/*검색창*/
#search-wrapper {
    display: flex;
    height: calc(100% + 5vh);
    padding: 5vh 5vw;
    width: 100%;
    font-family: "SUIT-Medium", "Murecho-Light", "Noto-Light", sans-serif;
}

/*검색창 설명란*/
#result-explanation-text {
    text-align: left;
    width: 50%;
}

#result-explanation-inner-text1 {
    color: #0045D1;
    font-size: 25px;
    font-family: "SUIT-Medium", "Murecho-Medium", "Noto-Medium", sans-serif;
}

#result-explanation-inner-text2 {
    font-family: "SUIT-ExtraBold", "Murecho-Bold", "Noto-Bold", sans-serif;
    font-size: 40px;
}

/*검색 조건 창*/
#search-inner-wrapper {
    display: flex;
    position: relative;
    text-align: left;
    width: 50%;
    padding: 2.5%;
    margin: 0 2.5%;
    box-sizing: border-box;
    border: solid 2px #004770;
    border-radius: 10px;
}

#search-condition-wrapper {
    width: 70%;
}

/*드롭다운*/
#gu-dropdown-wrapper {
    position: relative;
    padding-bottom: 10px;
}

#time-dropdown-wrapper {
    position: relative;
    padding-bottom: 10px;
}

#disabled-time-dropdown-wrapper {
    display: none;
}

/*드롭다운버튼*/
#time-dropdown-button {
    display: flex;
    text-align: center;
    align-items: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    text-align-last: center;

    position: relative;
    cursor: pointer;
    width: 100%;
    height: 33px;

    border: 0;
    color: black;
    background-color: white;
    border-radius: 33px;
    box-shadow: 0 0 5px 3px #DCDCDC;
}

#gu-dropdown-button {
    display: flex;
    text-align: center;
    align-items: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    text-align-last: center;

    position: relative;
    cursor: pointer;
    width: 100%;
    height: 33px;

    border: 0;
    color: black;
    background-color: white;
    border-radius: 33px;
    box-shadow: 0 0 5px 3px #DCDCDC;
}

/*선택 리스트*/

#gu-dropdown-menu {
    width: 100%;
    height: 200px;
    text-align: center;
    overflow: auto;
}
#time-dropdown-menu {
    width: 100%;
    height: 200px;
    text-align: center;
    overflow: auto;
}

#time-dropdown-button:hover, #time-dropdown-button:checked {
    color: black;
    background-color: white;
}

#gu-dropdown-button:hover, #gu-dropdown-button:checked{
    color: black;
    background-color: white;
}

#gu-value {
    position: absolute;
    width: 100%;
}

#time-value {
    position: absolute;
    width: 100%;
}


/*현재영엉중버튼*/
#present-checkbox-wrapper {
    font-size: 15px;

    display: flex;
    justify-content: left;

    padding-bottom: 10px;
}
#present-checkbox {
    appearance: none;
    margin: 0;
}

#present-checkbox-name {
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#present-checkbox-label {
    display: block;
    position: relative;
    width: 66px; /* Adjusted width */
    height: 33px; /* Adjusted height */
    background: #d3d3d3;
    border-radius: 60px;
    transition: background 0.4s;
}

#present-checkbox-label::before {
    content: "";
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s;
    color: white;
}

#present-checkbox-label::after {
    content: "";
    position: absolute;
    left: 2px; /* Adjusted left position */
    top: 50%;
    width: 29px; /* Adjusted width */
    height: 29px; /* Adjusted height */
    border-radius: 100%;
    background-color: #fff;
    transform: translateY(-50%);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

#present-checkbox:checked + #present-checkbox-label {
    background: #00D175;
}

#present-checkbox:checked + #present-checkbox-label::after {
    left: calc(100% - 31px); /* Adjusted left position */
}

#present-checkbox:checked + #present-checkbox-label::before {
    content: "";
    color: #fff;
    left: 10px; /* Adjusted left position */
    font-size: 13px;
}


/*캘린더 */
#calender-wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 10px;
}

#disabled-calender-wrapper {
    display: none;
}

.calender-button-name {
    position: absolute;
    z-index: 100;
    top: 8px;
    left: 10px;
}

.react-datepicker-wrapper {
    width: 100%;
}

.calender-select {
    display: flex;
    text-align: center;
    align-items: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    text-align-last: center;

    position: relative;
    cursor: pointer;
    width: 100%;
    height: 33px;

    border: 0;
    color: black;
    background-color: white;
    border-radius: 33px;
    box-shadow: 0 0 5px 3px #DCDCDC;
}


/*검색버튼*/
#pharmacy-search-button {
    width: 25%;
    height: 80px;

    font-size: 18px;
    font-family: "SUIT-ExtraBold", "Murecho-Bold", "Noto-Bold", sans-serif;

    background: #C6E7F9;
    color: black;
    border: 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

#pharmacy-search-button:hover {
    background-color: #bae2f7;
}


/*체크박스*/
#language-icon {
    width: 17px;
    padding-right: 5px;
}

/*언어선택*/
#language-checkbox-wrapper {
    display: flex;
    justify-content: center;
    gap: 5px;

    /*언어체크박스*/

    /*input[type="checkbox"]:checked + label {*/
    /*    background-color: #004770; !* 체크된 상태일 때의 배경 색상 설정 *!*/
    /*    color: white;*/
    /*}*/

    /*input[type="checkbox"] {*/
    /*    display: none;*/
    /*    -webkit-appearance: none;*/
    /*    -moz-appearance: none;*/
    /*    appearance: none;*/
    /*    margin: 0;*/
    /*}*/
}

.language-checkbox-item {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.language-checkbox-item:checked + .language-checkbox {
    background-color: #004770; /* 체크된 상태일 때의 배경 색상 설정 */
    color: white;
}

.language-checkbox {
    color: #004770;
    border: solid 1px #004770;
    background-color: white;

    display: flex;

    justify-content: center;
    align-items: center;

    width: 33%;
    height: 30px;
    border-radius: 13px;

    font-size: 15px;
    font-family: "SUIT-SemiBold", "Murecho-Medium", "Noto-Medium", sans-serif;
}

.language-checkbox:hover {
    cursor: pointer;
}

/*검색 태블릿*/
@media (max-width: 800px) {
    #search-wrapper {
        flex-direction: column;
    }

    #result-explanation-text {
        width: 100%;
    }

    #search-inner-wrapper {
        width: 100%;
        margin: 0;
    }

    #result-explanation-inner-text1 {
        font-size: 25px;
    }

    #result-explanation-inner-text2 {
        font-size: 35px;
    }

}

/*모바일*/
@media (max-width: 480px) {

    #search-wrapper {
        flex-direction: column;
    }

    #result-explanation-text {
        width: 100%;
    }

    #result-explanation-inner-text1 {
        font-size: 18px;
    }

    #result-explanation-inner-text2 {
        font-size: 28px;
    }

    #search-inner-wrapper {
        width: 100%;
    }

    #present-checkbox-name {
        font-size: 10px;
    }

    .language-checkbox {
        font-size: 10px;
    }

}


/*결과창*/
#result-wrapper {
    height: auto;
    min-height: 400px;
    display: flex;
    padding-bottom: 5vh;
}


/*약국 리스트*/
#result-summarize-wrapper {
    width: 45%;
    height: 100%;
}

#result-summarize-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style-type: none;

    gap: 2%;
    width: 100%;
    height: 100%;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.pharmacy-list-item {
    width: 80%;
    height: 100%;
    margin: 5px 0;

    background-color: white;

    box-shadow: 0 0 5px 3px #EAEAEA;
    border-radius: 5px;
}

.pharmacy-list-item:hover {
    cursor: pointer;
}

#selected {
    background-color: #C6E7F9;
}



