* {
    margin: 0;
}

.Intro-body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.intro {
    width: 100vw;
    height: 100vh;
    background-image: url(/src/images/introImage.png);
    background-size: cover;
    position: relative;
    display : inline-block;
    margin-bottom: 5%;
    max-width: 100%;
    background-repeat :no-repeat;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    font-size: x-large;
  }

h2 {
    color: black;
}
