* {
    margin: 0;
}

.intro-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.intro {
    width: 100vw;
    height: 90vh;
    background-image: url(/src/images/introImage.png);
    background-size: cover;
    position: relative;
    display : inline-block;
    background-repeat :no-repeat;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    font-size: x-large;
  }

.intro-lan-button {
    color: white;
    min-width: 180px;
    width: 20vw;
    max-width: 200px;
    min-height: 200px;
    height: 22vw;
    max-height: 220px;
    background-size: cover;
    position: relative;
    display : inline-block;
    background-repeat :no-repeat;
    border: 0px;
    border-radius: 30px;
}

h2 {
    color: black;
}
