.selection {
    display: flex;
    flex-direction: row;
}

.locationMark {
    position: absolute;
    width: 227px;
    height: 378px;
    left: 234px;
    top: 359px;
}

.main-wrapper {
    width: 100vw;
    height: 100vh;
}

section {
    padding-left: 37vh;
}

.selectOptionButton {
    position: absolute;
    width: 447px;
    height: 621px;
    color: white;
    background-size: cover;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    border: 0px;
    border-radius: 30px;
}

.selectOptionTitle {
    font-size: 32px;
}

.selectOptionDescription {
    font-size: 24px;
}

.whiteSelectButton {
    width: 320px;
    height: 81px;
    margin-top: 485px;
    outline: solid 3px #fff;
    outline-offset: -3px;
    border-radius: 40.5px;
    background-color: #d9d9d933;
    color: white;
    font-size: 24px;
}