.nearby-search-design {
    display: flex;
    width: 100%;
    height: 400px;
}

.left-rec {
    position: absolute;
    background-color: #004770;
    border-bottom-right-radius: 8vw;
    color: white;
    z-index: 10;
    width: 70vw;
    height: 270px;
    top: 110px;
    text-align: left;
}

#nearby-description {
    font-family: "SUIT-Light";
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 60px 0 0 8vw;
}

#for-you {
    font-family: "SUIT-Light";
    font-size: 40px;
    line-height: 130%;
    color: white;
    margin: 0;
    padding: 20px 0 0 8vw;
}

#is-here {
    font-family: "SUIT-ExtraBold";
    margin: 0;
}


.right-rec {
    position: absolute;
    background-color: #AEDCF6;
    border-bottom-left-radius: 8vw;
    z-index: 9;
    width: 81vw;
    height: 270px;
    right: 0;
    top: 200px;
}

#nearby-icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 2vw;
    top: 195px;
    width: 400px;
    height:300px;
    text-align: left;
}

.greenBag {
    position: relative;
    z-index: 16;
    width: 160px;
    left: 80px;
}

.hand {
    position: relative;
    z-index: 15;
    top: 10px;
    width: 400px;
}

#result-inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*태블릿*/
@media (max-width: 800px) {
    .left-rec {
        top: 80px;
        height: 180px;
        border-bottom-right-radius: 10vw;
    }

    #nearby-description {
        font-size: 15px;
        padding: 38px 0 0 6vw;
    }

    .nearby-search-design {
        height: 285px;
    }
    
    #for-you {
        font-size: 28px;
        padding: 13px 0 0 6vw;
    }
    
    .right-rec {
        top: 150px;
        height: 180px;
        border-bottom-left-radius: 10vw;
    }
    
    #nearby-icon {
        top: 135px;
        width: 280px;
        height: 230px;
    }

    .greenBag {
        left: 50px;
        width: 120px;
    }
    
    .hand {
        top: 6px;
        width: 280px;
    }
}

/*모바일*/
@media (max-width: 480px) {
    .left-rec {
        top: 55px;
        height: 120px;
        border-bottom-right-radius: 12vw;
    }

    #nearby-description {
        font-size: 10px;
        padding: 28px 0 0 8vw;
    }

    .nearby-search-design {
        height: 200px;
    }

    #for-you {
        font-size: 17px;
        padding: 6px 0 0 8vw;
    }

    .right-rec {
        top: 100px;
        height: 120px;
        border-bottom-left-radius: 12vw;
    }
    
    #nearby-icon {
        top: 95px;
        width: 190px;
        height: 150px;
        right: 1vw;
    }

    .greenBag {
        left: 40px;
        width: 70px;
    }
    
    .hand {
        top: 6px;
        width: 190px;
    }
}



/*검색창*/
#search-wrapper {
    display: flex;
    height: 17vh;
    padding: 0 5vw;
}

#result-explanation-text {
    text-align: left;
    width: 45%;
}

#result-explanation-inner-text1 {
    color: #0045D1;
    font-size: 20px;
}

#result-explanation-inner-text2 {
    font-weight: 900;
    font-size: 30px;
}

#search-inner-wrapper {
    position: relative;
    width: 55%;
}

/*드롭다운*/
.dropdown{
    position : relative;
    display : inline-block;
    padding-left: 10px;
    padding-bottom: 10px;
}

.dropdown-button{
    display: flex;

    position: relative;
    text-align: left;
    cursor : pointer;
    width: 304px;
    height: 33px;

    align-items: center;

    border: 0;
    background: #FFFFFF;
    border-radius: 33.5px;
    box-shadow: 0 0 5px 3px #DCDCDC;
}

.dropdown-button>.arrow-icon {
    position: absolute;
    right: 10px;
    top: 12px;
}

.dropdown-content{
    width: 304px;
    display : none;
    position : absolute;
    top: 40px;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    border-radius: 4px;

    background-color: white;
    box-shadow: 0 0 5px 1px #DCDCDC;

}

.dropdown-item:hover {
    background-color: #004770;
    color: white;
    border-radius: 4px;
}

.location-icon {
    width: 17px;
    height: 17px;
    padding-left: 3px;
    padding-right: 7px;

}
.arrow-icon {
    width: 12px;
    height: 8px;
}


select:focus{
    outline:none;
}

#time-dropdown-wrapper {
    width: 304px;
    height: 33px;

    border: 0;
    background: #FFFFFF;
    border-radius: 33.5px;
    box-shadow: 0 0 5px 3px #DCDCDC;
}

/*검색버튼*/
#pharmacy-search-button {
    position: absolute;
    right: 0;

    width: 211px;
    height: 50px;

    font-size: 15px;
    font-weight: 900;

    background: #C6E7F9;
    border: 0;
    box-shadow: 0px 4px 16.4px rgba(0, 0, 0, 0.25);
    border-radius: 42px;

}

/*체크박스*/
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*width: 50px;*/
    /*height: 20px;*/
    /*background-color: #ffffff; !* 체크박스의 배경 색상 설정 *!*/
    /*border: 1px solid #cccccc; !* 체크박스의 테두리 설정 *!*/
    /*border-radius: 3px; !* 체크박스 모서리 둥글게 설정 *!*/
}

#language-checkbox-wrapper {
    display: flex;
    justify-content: center;
}

.language-checkbox {
    /*display: inline-block;*/

    display: flex;

    justify-content: center;
    align-items: center;

    width: 70px;
    height: 30px;

    border-radius: 13px;
}

#speaking-japanese:checked + #speaking-japanese-label{
    background-color: #004770; /* 체크된 상태일 때의 배경 색상 설정 */
    color: white;
}

#speaking-chinese:checked + #speaking-chinese-label{
    background-color: #004770; /* 체크된 상태일 때의 배경 색상 설정 */
    color: white;
}

#speaking-english:checked + #speaking-english-label{
    background-color: #004770; /* 체크된 상태일 때의 배경 색상 설정 */
    color: white;
}



/*결과창*/
#result-wrapper {
    height: 80vh;
    display: flex;
}





/*약국 리스트*/
#result-summarize-wrapper {
    width: 45%;
    height: 100%;
}

#result-summarize-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    list-style-type: none;

    gap: 5%;
    width: 100%;
    height: 90%;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.pharmacy-list-item {
    width: 80%;
    height: 15%;

    box-shadow: 0 0 5px 3px #EAEAEA;
    border-radius: 5px;
}

/*약국 디테일*/
#result-details {
    background-color: white;
    width: 55%;
    height: 90%;
    box-shadow: 0 0 5px 3px #DCDCDC;
    border-radius: 20px 0 0 20px;
}

#result-details-text-wrapper {
    position: relative;
    left: 10%;
    top: 7%;
    text-align: left;
}

