/*헤더*/
.nearby-search-design {
    display: flex;
    width: 100%;
    height: 400px;
}

.left-rec {
    position: absolute;
    background-color: #004770;
    border-bottom-right-radius: 8vw;
    color: white;
    z-index: 10;
    width: 70vw;
    height: 270px;
    top: 110px;
    text-align: left;
}

#nearby-description {
    font-family: "SUIT-Light";
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 60px 0 0 8vw;
}

#for-you {
    font-family: "SUIT-Light";
    font-size: 40px;
    line-height: 130%;
    color: white;
    margin: 0;
    padding: 20px 0 0 8vw;
}

#is-here {
    font-family: "SUIT-ExtraBold";
    margin: 0;
}


.right-rec {
    position: absolute;
    background-color: #AEDCF6;
    border-bottom-left-radius: 8vw;
    z-index: 9;
    width: 81vw;
    height: 270px;
    right: 0;
    top: 200px;
}

#nearby-icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 2vw;
    top: 195px;
    width: 400px;
    height:300px;
    text-align: left;
}

.greenBag {
    position: relative;
    z-index: 16;
    width: 160px;
    left: 80px;
}

.hand {
    position: relative;
    z-index: 15;
    top: 10px;
    width: 400px;
}

#result-inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*헤더 태블릿*/
@media (max-width: 800px) {
    .left-rec {
        top: 80px;
        height: 180px;
        border-bottom-right-radius: 10vw;
    }

    #nearby-description {
        font-size: 15px;
        padding: 38px 0 0 6vw;
    }

    .nearby-search-design {
        height: 285px;
    }
    
    #for-you {
        font-size: 28px;
        padding: 13px 0 0 6vw;
    }
    
    .right-rec {
        top: 150px;
        height: 180px;
        border-bottom-left-radius: 10vw;
    }
    
    #nearby-icon {
        top: 135px;
        width: 280px;
        height: 230px;
    }

    .greenBag {
        left: 50px;
        width: 120px;
    }
    
    .hand {
        top: 6px;
        width: 280px;
    }
}

/*헤더 모바일*/
@media (max-width: 480px) {
    .left-rec {
        top: 55px;
        height: 120px;
        border-bottom-right-radius: 12vw;
    }

    #nearby-description {
        font-size: 10px;
        padding: 28px 0 0 8vw;
    }

    .nearby-search-design {
        height: 200px;
    }

    #for-you {
        font-size: 17px;
        padding: 6px 0 0 8vw;
    }

    .right-rec {
        top: 100px;
        height: 120px;
        border-bottom-left-radius: 12vw;
    }
    
    #nearby-icon {
        top: 95px;
        width: 190px;
        height: 150px;
        right: 1vw;
    }

    .greenBag {
        left: 40px;
        width: 70px;
    }
    
    .hand {
        top: 6px;
        width: 190px;
    }
}



/*검색창*/
#search-wrapper {
    display: flex;
    height: 30vh;
    padding: 0 5vw;
    width: 100%;
    box-sizing: border-box;

    /*드롭다운*/
    .dropdown{
        position : relative;
        /*display : inline-block;*/
        padding-bottom: 10px;
    }

    .dropdown-select{
        display: flex;
        text-align: center;
        align-items: center;
        -ms-text-align-last: center;
        -moz-text-align-last: center;

        position: relative;
        cursor : pointer;
        width: 100%;
        height: 33px;


        border: 0;
        color: black;
        /*background: #FFFFFF;*/
        background-color: white;
        border-radius: 33.5px;
        box-shadow: 0 0 5px 3px #DCDCDC;
    }

    .dropdown-menu {
        width: 100%;
        /*border-radius: 4px;*/
    }

    .arrow-icon {
        position: absolute;
        right: 10px;
        top: 12px;
    }

    .location-icon {
        width: 25px;
        height: 17px;
        padding-left: 3px;
        padding-right: 7px;

    }
    .arrow-icon {
        width: 12px;
        height: 8px;
    }

    #gu-value {
        position: absolute;
        width: 100%;
    }

    #time-value {
        position: absolute;
        width: 100%;
    }
}

#result-explanation-text {
    text-align: left;
    width: 50%;
}

#result-explanation-inner-text1 {
    color: #0045D1;
    font-size: 25px;
    font-weight: 500;
}

#result-explanation-inner-text2 {
    font-weight: 900;
    font-size: 40px;
}

#search-inner-wrapper {
    display: flex;
    position: relative;
    text-align: left;
    width: 50%;
    padding: 2.5%;
    box-sizing: border-box;
}

#search-condition-wrapper {
    width: 70%;
}




#search-wrapper {
    display: flex;
    height: 30vh;
    padding: 0 5vw;
    width: 100%;
    box-sizing: border-box;
}





/*검색버튼*/
#pharmacy-search-button {

    width: 25%;
    height: 80px;

    font-size: 15px;
    font-weight: 900;

    background: #C6E7F9;
    color: black;
    border: 0;
    box-shadow: 0px 4px 16.4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
#pharmacy-search-button:hover {
    background-color: #bae2f7;
}

/*체크박스*/
#language-icon {
    width: 17px;
    padding-right: 5px;
}

#language-choice-text {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    /*width: 50px;*/
    /*height: 20px;*/
    /*background-color: #ffffff; !* 체크박스의 배경 색상 설정 *!*/
    /*border: 1px solid #cccccc; !* 체크박스의 테두리 설정 *!*/
    /*border-radius: 3px; !* 체크박스 모서리 둥글게 설정 *!*/
}

#language-checkbox-wrapper {
    display: flex;
    justify-content: center;
    gap: 5px;

}

.language-checkbox {
    color: #004770;
    border: solid 1px #004770;

    display: flex;

    justify-content: center;
    align-items: center;

    width: 33%;
    height: 30px;
    border-radius: 13px;
}

.language-checkbox:hover {
    background-color: #004770;
    color: white;
}

#speaking-japanese:checked + #speaking-japanese-label{
    background-color: #004770; /* 체크된 상태일 때의 배경 색상 설정 */
    color: white;
}

#speaking-chinese:checked + #speaking-chinese-label{
    background-color: #004770; /* 체크된 상태일 때의 배경 색상 설정 */
    color: white;
}

#speaking-english:checked + #speaking-english-label{
    background-color: #004770; /* 체크된 상태일 때의 배경 색상 설정 */
    color: white;
}



/*검색 태블릿*/
@media (max-width: 800px) {
    #search-wrapper {
        flex-direction: column;
    }

    #result-explanation-text {
        width: 100%;
    }

    #search-inner-wrapper {
        width: 100%;
    }

}
/*검색 모바일*/
@media (max-width: 480px) {

    #search-wrapper {
        flex-direction: column;
    }

    #result-explanation-text {
        width: 100%;
    }

    #search-inner-wrapper {
        width: 100%;
    }

}



/*결과창*/
#result-wrapper {
    height: 80vh;
    display: flex;
}





/*약국 리스트*/
#result-summarize-wrapper {
    width: 45%;
    height: 100%;
}

#result-summarize-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    list-style-type: none;

    gap: 5%;
    width: 100%;
    height: 90%;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.pharmacy-list-item {
    width: 80%;
    height: 15%;

    box-shadow: 0 0 5px 3px #EAEAEA;
    border-radius: 5px;
}

#selected {
    background-color: #C6E7F9;
}

/*약국 디테일*/
#result-details {
    background-color: white;
    width: 55%;
    height: 90%;
    box-shadow: 0 0 5px 3px #DCDCDC;
    border-radius: 20px 0 0 20px;
}

#result-details-text-wrapper {
    position: relative;
    left: 10%;
    top: 7%;
    text-align: left;
}

