
.intro-wrapper {
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.intro {
    width: 100vw;
    height: 85vh;
    background-image: url(/src/images/IntroPage/introImage.png);
    background-size: cover;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-text>h1 {
    font-family: "Suranna-Regular";
    line-height: 120%;
    font-size: 55px;
    white-space: nowrap;
}

.intro-text>p {
    font-family: "SUIT-Regular";
    line-height: 110%;
    font-size: 28px;
}

.language-body {
    width: 100vw;
    height: calc(100% + 3vh);
    padding: 5vw;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.language-body-button {
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.intro-lan-button {
    color: white;
    width: 20vw;
    height: 23.5vw;
    background-size: cover;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 18px;
}

.language-body-name {
    margin: 0;
    color: black;
    text-align: left;
    font-size: 25px;
    padding: 0 2vw 3vh;
    font-weight: 500;
}

.intro-lan-button {
    font-family: "SUIT-Regular", "Murecho-Light";
}

/*태블릿*/
@media (max-width: 800px) {
    .language-body-button {
        gap: 1vw;
    }

    .language-body-name {
        font-size: 22px;
    }

    .intro-lan-button {
        margin: 1vw;
        font-size: 13px;
    }

    .intro-text>p {
        white-space: normal;
    }
}

/*모바일*/
@media (max-width: 480px) {
    .intro {
        height: 60vh;
    }
    .language-body-button {
        gap: 0.5vw;
    }

    .language-body-name {
        font-size: 18px;
    }

    .intro-text>h1 {
        line-height: 110%;
        font-size: 35px;
        white-space: normal;
    }
    
    .intro-text>p {
        line-height: 100%;
        font-size: 20px;
    }
    
} 