header {
    display: flex;
    background-color: transparent;
    width: 100vw;
    height: 120px;
}

#header-content {
    display: flex;
    padding: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
}

#header-content > a {
    box-sizing: border-box;
    text-decoration: none;
    color: #004770;
    font-family: "SUIT-Regular";
}

header > div {
    display: flex;
    justify-content: flex-start;
}


#language-dropdown {
    .dropdown-menu {
        font-size: 15px;
        position: absolute;
        left: 20px;
        background-color: white;
        min-width: 120px;
        margin: 5px 0 0 -15px;
        border: 1px solid #004770;
        border-radius: 12px;
    }
}

#language-dropdown-button {
    position: relative;
    top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #004770;
    font-family: "SUIT-Regular", "Murecho-Light";
    font-size: 22px;
}


.dropdown-item:hover {
    background-color: #004770;
    color: white;
    border-radius: 10px;
}


.title {
    position: absolute;
    color: #004770;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
}


.home-icon {
    position: relative;
    top: 5px;
    width: 35px;
    height: 35px;
    margin: 0 10px 0 50px;
}

/*태블릿*/
@media (max-width: 800px) {
    header {
        padding: 0 4vw;
        height: 80px;
    }
    
    #header-content {
        padding: 0px;
    }

    #header-content > a {
        padding: 0px;
    }

    .home-icon {
        display: none;
    }

    #language-dropdown-button {
        position: relative;
        top: 7px;
        font-size: 17px;
    }

    .title {
        font-size: 26px;
    }
}

/*모바일*/
@media (max-width: 480px) {
    header {
        padding: 0 6vw;
        height: 55px;
    }

    .home-icon {
        display: none;
    }

    #language-dropdown-button {
        position: static;
        font-size: 15px;
    }


    .title {
        font-size: 20px;
        transform: translateX(0%);
        right: 5px;
    }
}