div {
    flex-direction: row;
}

footer {
    background-color: #004770;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    color: white;
    padding : 5vh 8vw;
    font-size: 18px;
    /*font-weight: bolder;*/
    font-family: "SUIT-medium";
}

footer>p {
    text-decoration-line: none;
    align-items: flex-start;
    color: white;
    margin: 1vh;
}


footer>p>span {
    font-weight: normal;
}


.contact-button {
    width: 5vh;
    margin: 0 2vh;
}

#contact-div {
    width: 90vw;
    text-align: right;
}


/*태블릿*/
@media (max-width: 767px) {

}

/*모바일*/
@media (max-width: 575px) {
    footer {
        font-size: 13px;
    }

    .contact-button {
        min-width: 25px;
        width: 4vh;
        margin: 0 2vh;
    }
}