div {
    flex-direction: row;
}

footer {
    background-color: #004770;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    color: white;
    padding : 5vh 8vw;
    font-size: 18px;
    font-weight: 600;
    font-family: "SUIT-Medium", "Murecho-Regular";
}

footer>p {
    text-decoration-line: none;
    align-items: flex-start;
    color: white;
    margin: 1vh;
}


footer>p>span {
    font-weight: normal;
}


.contact-button {
    width: 40px;
    margin-left: 4vw;
}


#contact-div {
    width: 90vw;
    text-align: right;
    padding-right: 8vw;
    box-sizing: border-box;
}

.footer-item {
    font-size: 16px;
}

/*태블릿*/
@media (max-width: 767px) {
    footer {
        font-size: 16px;
    }

    .contact-button {
        width: 30px;
    }

    .footer-item {
        font-size: 14px;
    }
}

/*모바일*/
@media (max-width: 575px) {
    footer {
        font-size: 13px;
    }

    .contact-button {
        width: 25px;
    }

    .footer-item {
        font-size: 11px;
    }
}