header {
    display: flex;
    justify-content: space-between;
    padding: 0 7vw;
    background-color: transparent;
    width: 100vw;
    height: 110px;
    border: lightgray solid 1px;
    align-items: center;
}
.header-content > a {
    text-decoration: none;
    color: #004770;
    font-family: "SUIT-Regular";
}

header > div {
    display: flex;
    justify-content: flex-start;
}

.language-dropdown {
    position: relative;
    top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    color: #004770;
    font-family: "SUIT-Regular";
    font-size: 22px;
    padding: 0 0 0 20px;
}


.dropdown-item-wrapper {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    margin: 5px 0 0 10px;
    z-index: 100;
    border: 1px solid #004770;
    border-radius: 12px;
}

.language-dropdown:hover .dropdown-item-wrapper {
    display: block;
}

.dropdown-item {
    color: #004770;
    padding: 11px 20px;
    text-decoration: none;
    text-align: left;
    font-size: inherit;
}

.dropdown-item:hover {
     background-color: #004770;
     color: white;
     border-radius: 10px;
 }

.dropdown-btn {
    background-color: transparent;
    color: inherit;
    /* 화살표 공간 확보 */
    padding: 0px 30px 0px 30px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: inherit;
    position: relative; /* 화살표 위치 설정을 위함 */
}

.dropdown-btn::after {
    content: '';
    position: absolute;
    right: 5px;
    top: 60%;
    width: 8px;
    height: 8px;
    border-right: 2px solid #004770;
    border-bottom: 2px solid #004770;
    transform: translateY(-75%) rotate(45deg);
    transition: transform 0.3s ease;
}

.language-dropdown:hover .dropdown-btn::after {
    transform: translateY(-25%) rotate(-135deg); /* 활성화 시 화살표 방향 변경 */
}

.title {
    position: absolute;
    color: #004770;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
}


.home-icon {
    position: relative;
    top: 5px;
    width: 35px;
    height: 35px;
}

/*태블릿*/
@media (max-width: 800px) {

}

/*모바일*/
@media (max-width: 480px) {
    .title {
        position: absolute;
        font-size: 25px;
        transform: translateX(0%);
        right: 0;
    }

    .home-icon {
        display: none;
    }
}