#result-details {
    background-color: white;
    width: 55%;
    height: 90%;
    min-height: 400px;
    box-shadow: 0 0 5px 3px #DCDCDC;
    border-radius: 20px 0 0 20px;

    padding: 4% 4%;
}

#result-details-text-wrapper {
    text-align: left;
}

#result-details-text-wrapper {
    display: block;
    font-family: "SUIT-Medium";

    font-size: 18px;
    font-weight: 500;

    #result-details-name {
        font-family: "SUIT-ExtraBold";
        font-size: 25px;
        color: #004770;

        padding-top: 20px;
    }

    .result-details-text-item {
        padding: 7px;
    }
}

#operating-hours-name {
    font-size: 18px;
    border: 0;
    padding: 0;

    background-color: white;
    color: black;
}


#operating-hours-dropdown {
    font-size: 18px;
}

/*오류*/
#result-details-else {
    padding: 0 2vw;
    text-align: left;
    font-family: 'SUIT-Medium';
    font-size: 25px;
}

/*모바일*/
@media (max-width: 480px) {
    #result-details-text-wrapper {
        font-size: 12px;

        #result-details-name {
            font-size: 20px;
            padding-top: 20px;
        }

        .result-details-text-item {
            padding: 5px;
        }
    }

    #operating-hours-name {
        font-size: 12px;
    }

    #result-details-else {
        font-size: 15px;
    }

}