html { font-size: 62.5%; }
.image { width: 12rem; } /*120px*/
.item { font-size: 1.6rem; } /*16px*/
.copyright { margin-top: 5rem; } /*50px*/
 
@media all and (max-width: 750px) {
  html { font-size: 50%; } /*문서 내 모든 rem 단위가 영향*/
}

.App {
  text-align: center;
}