body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Noto-Sans-SC',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "SUIT-Bold";
  src: url("./fonts/SUIT-Bold.ttf");
}

@font-face {
  font-family: "SUIT-ExtraBold";
  src: url("./fonts/SUIT-ExtraBold.ttf");
}

@font-face {
  font-family: "SUIT-Light";
  src: url("./fonts/SUIT-Light.ttf");
}

@font-face {
  font-family: "SUIT-Medium";
  src: url("./fonts/SUIT-Medium.ttf");
}

@font-face {
  font-family: "SUIT-Regular";
  src: url("./fonts/SUIT-Regular.ttf");
}

@font-face {
  font-family: "Suranna-Regular";
  src: url("./fonts/Suranna-Regular.ttf");
}

@font-face {
  font-family: "Murecho-Bold";
  src: url("./fonts/Murecho-Bold.ttf");
}

@font-face {
  font-family: "Murecho-SemiBold";
  src: url("./fonts/Murecho-SemiBold.ttf");
}

@font-face {
  font-family: "Murecho-Medium";
  src: url("./fonts/Murecho-Medium.ttf");
}

@font-face {
  font-family: "Murecho-Light";
  src: url("./fonts/Murecho-Light.ttf");
}

@font-face {
  font-family: "Noto-Bold";
  src: url("./fonts/NotoSansSC-Bold.ttf");
}

@font-face {
  font-family: "Noto-SemiBold";
  src: url("./fonts/NotoSansSC-SemiBold.ttf");
}

@font-face {
  font-family: "Noto-Medium";
  src: url("./fonts/NotoSansSC-Medium.ttf");
}

@font-face {
  font-family: "Noto-Light";
  src: url("./fonts/NotoSansSC-Light.ttf");
}